// import local variables

@import "variables";

// import bootstrap

@import 'node_modules/bootstrap/scss/bootstrap.scss';

@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Raleway:500");

$font-raleway: 'Raleway';
$font-ralewaybold: 'RalewayBold';

body{
  font-family: 'Raleway', sans-serif;
}

.bold{
  font-family: 'RalewayBold', sans-serif;
}

.custom-color{
  background-color: $greige;
}

.table-clientes{
  @extend .table;
}

.table-clientes thead th {
    border-bottom : none;

}

.table-hover-clientes{
  @extend .table-hover;

}

.table-hover-clientes tbody tr:hover{
    background-color: rgba(0, 0, 0, 0);

}

.table-bordered-clientes{
  @extend .table-bordered;
}

.table-bordered-clientes th, .table-bordered td{
    border: none;
}

.table-striped-clientes{
  @extend .table-striped;
}

.table-striped-clientes tbody tr:nth-of-type(odd){
    background-color: rgba(0, 0, 0, 0);
}
// table striped
.table-default{
  @extend .table
}

.table-default thead th{
    border-bottom : none;
    background-color: $rojotablados;
    color: #fff;
    font-weight: bold;
}

.table-hover-default{
  @extend .table-hover;
}
.table-hover-default tbody tr:hover{
    background-color: rgba($rojo, .1)
}
.table-bordered-default{
  @extend .table-bordered;
}
.table-bordered-default th, .table-bordered td{
  border: none;
}
.table-striped-default{
  @extend .table-striped;
}
.table-striped-default tbody tr:nth-of-type(odd){
  background-color: rgba($color:  $rojotabla, $alpha: 1.0)
}
.table-striped-default tbody{
  background-color: $rojotablados;
  color: white;
  font-weight: bold;
}

.button {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  width: 150px;
  height: 50px;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: $rojotablados;
  border: none;
  border-radius: 15px;
  -webkit-transition: background-color 3s; /* For Safari 3.1 to 6.0 */
  transition: background-color 3s;
  box-shadow: 4px 2px #888888;
}
.buttonadd {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  width: 150px;
  height: 50px;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: $green;
  border: none;
  border-radius: 15px;
  -webkit-transition: background-color 3s; /* For Safari 3.1 to 6.0 */
  transition: background-color 3s;
  box-shadow: 4px 2px #888888;
}

/*  Transicion de color en el boton al momento de pasar sobre el
.button:hover {

  background-color: rgba(215, 53, 57, .7);

  text-decoration: none;
  color: #fff;
  }
  */
.buttomClass {
  margin-bottom: 300px;
}
.black {
    color: #fff;
    text-align: center;
    font-weight: bold;
    height:40px;
    width: 200px;
    padding: 10px;
    border: solid 1px #1F1F1F;
    border-radius: 15px;
    background: #1F1F1F;
    background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#1F1F1F));
    background: -moz-linear-gradient(top,  #666,  #000);
    box-shadow: 4px 2px #888888;
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#000000');
}
.form-control:focus{
      border-color: $rojobordes;
      box-shadow: none;
}
.form-control{
  border: 4px  $rojo solid;
}
#map{
  height: 450px;
  width: 100%;
}
.img-thumbnail{
  height: 170px;
  max-width: 900px;
}
.form-group {
  float: right;
}
.form-inline {
  display: table-row;
}
.margin-container {
  margin-top: 200px;
}


.rotate90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.rotate180 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.rotate270 {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.mystyle90 {
  transform: rotate(90deg);
}
.mystyle0{
  transform: rotate(0deg);
}
.mystyle180{
  transform: rotate(180deg);
}
.img-thumbnail{
  height: 170px;
}
.error {
  color: red;
  font-weight: bold;
}
// -----------Modal Styles -----
/* Hide original template markup */
.zaffri-modal-template {
  display: none;
}

/* Modal itself */
.zaffri-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1010;
  background: rgba(0,0,0, 0.75);
  width: 100%;
  height: 100%;
}

/* Modal body (container)  detalles*/
.zaffri-modal-body {
  width: 80%;
  min-height: 480px;
  background: #fff;
  margin: 0 auto;
  margin-top: 150px;
  padding: 10px 30px;
}
/* Modal body para eliminar */
.zaffri-modal-body-delete {
  width: 50%;
  min-height: 200px;
  background: #fff;
  margin: 0 auto;
  margin-top: 150px;
  padding: 10px 30px;
}
/* modal body para agregar pk */
.zaffri-modal-body-add {
  width: 65%;
  min-height: 600px;
  background: #fff;
  margin: 0 auto;
  margin-top: 150px;
  padding: 10px 30px;
}
/* Modal button area */
.zaffri-modal-button-area {
  padding: 25px 0 15px 0;
}

.clear {
  clear: both;
}

/* Tabla Institucionales precio */
.espacio {
  width: 120px;
}
