<template>
    <div>
        <Logo nav="cliente"/>
        <div class="container margin-container">
            <h2 class="text-center">Añadir usuario a {{cliente.name}}</h2>
            <h4 class="text-center text-success">{{mensaje}}</h4>
            <form class="form-wrapper">
                <div class="row justify-content-center">
                    <div class="col-sm-12 col-md-5">
                        <div class="mt-2">
                            <label>Usuario:</label>
                            <input v-model="post_data.user" type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-sm-12 col-md-5">
                        <div class="mt-4">
                            <label>Contraseña:</label>
                            <input v-model="post_data.contrasena" id="txtPassword" type="password" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-sm-12 col-md-5">
                        <div class="mt-4">
                            <label>Repita contraseña:</label>
                            <input v-model="post_data.contrasena_validation" id="txtConfPassword" @keyup="validar_contrasena" type="password" class="form-control">
                        </div>
                        <div class="alert alert-danger mt-3" v-show="validate_password">
                            La confirmación de la <strong> contraseña </strong> no coincide.
                        </div>
                        <div class="alert alert-danger mt-3" v-show="validate_lenght">
                            Se necesita <strong> minimo 6 </strong> caracteres.
                        </div>
                    </div>
                </div>
            </form>
            <div class="row justify-content-center mt-5">
                <div class="col-12 col-md-3">
                    <button class="button" v-on:click="crear">Agregar</button>
                </div>
                <div class="col-12 col-md-2">
                    <button class="button" v-on:click="regresar">Regresar</button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import Logo from '@/components/Logo'
import { mapState } from 'vuex'
import $ from 'jquery'

export default {
  name: 'AgregarUsuario',
  components: {
    Logo
  },
  computed: {
    ...mapState({
      cliente: state => state.currentCliente,
      response_user: state => state.response_user
    })
  },
  mounted () {
  },
  data () {
    return {
      validate_password: false,
      validate_lenght: false,
      mensaje: '',
      post_data: {
        'user': '',
        'contrasena': '',
        'contrasena_validation': ''
      }
    }
  },
  methods: {
    validar_contrasena () {
      // if (this.post_data.contrasena === this.post_data.contrasena_validation) {
      //   this.validate_password = false
      //   if (this.post_data.contrasena.length < 6) {
      //     this.validate_lenght = true
      //   } else {
      //     this.validate_lenght = false
      //   }
      // } else {
      //   this.validate_password = true
      // }
      var pass = $('#txtPassword').val()
      var confirPass = $('#txtConfPassword').val()
      if (pass !== confirPass) {
        this.validate_password = true
      } else {
        this.validate_password = false
      }
    },
    async crear () {
      if (this.post_data.contrasena === this.post_data.contrasena_validation) {
        this.validate_password = false
        if (this.post_data.contrasena.length < 6) {
          this.validate_lenght = true
          return false
        } else {
          this.validate_lenght = false
          var data = {
            'username': this.post_data.user,
            'password': this.post_data.contrasena,
            'pk_cliente': this.cliente.pk
          }
          await this.$store.dispatch('post_usuario', data)
          if (!this.response_user.username) {
            this.mensaje = this.response_user.mensaje
          } else {
            this.mensaje = 'Usuario ' + this.response_user.username + ' creado'
          }
        }
      } else {
        this.validate_password = true
        return false
      }
    },
    regresar () {
      this.$router.push({name: 'TablaSucursales'})
    }
  }
}
</script>
<style scoped>

</style>
