<template>
    <div>
        <Logo nav="cliente"/>
        <div class="container margin-container">
            <h2 class="text-center">Añadir Campaña</h2>
            <div class="row justify-content-center">
                <div class="col-sm-6">
                    <h3>Datos</h3>
                    <label>Nombre del comercio o razon social</label>
                    <input v-model="post_data.name" type="text" class="form-control">
                    <br>
                    <hr>
                    <h3>Añadir Espacio</h3>
                    <div class="row">
                      <div class="col-sm-12 col-md-6">
                        <label><i class="fas fa-search"></i> Numero de Pk</label>
                        <input v-model="pk_relacion" type="text" class="form-control" >
                      </div>
                      <div class="col-sm-12 col-md-6">
                        <input type="radio" id="one" value="E" v-model="relacion_tipo">
                        <label for="one">Espacio</label>
                        <br>
                        <input type="radio" id="two" value="L" v-model="relacion_tipo">
                        <label for="two">Local</label>
                        <br>
                        <input type="radio" id="three" value="I" v-model="relacion_tipo">
                        <label for="three">Espacio ooh</label>
                      </div><br>
                      <div class="alert alert-success">
                        <strong>*No es necesario añadir espacio</strong>
                      </div>
                    </div>
                    <div class="row mt-4">
                    <fieldset class="form-group">
                      <div class="form-check">
                        <label class="form-check-label">
                          <input @change="check(1)" type="radio" class="form-check-input" name="optionsRadios" value="true" v-model="data_check"> Añadir geolocalidad
                        </label>
                      </div>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input @change="check(0)" type="radio" class="form-check-input" name="optionsRadios" value="false" v-model="data_check"> No agregar geolocalidad
                        </label>
                      </div>
                    </fieldset>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4 mt-4">
                            <button class="button" v-on:click="agregar_sucursal">Añadir</button>
                        </div>
                        <div class="col-12 col-md-4 mt-4">
                        </div>
                        <div class="col-12 col-md-4 mt-4">
                            <button class="button" v-on:click="cancelar">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-sm-6" v-show="show">
                    <div class="mt-5">
                        <div id="map"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDAmvouc8wiOPjIXp_CdOLlJvtYTL6RwTo">
</script>
<script>
import Logo from '@/components/Logo'
import { mapGetters, mapState } from 'vuex'
export default {
  name: 'ClienteAddSucursal',
  components: { Logo
  },
  computed: {
    ...mapState({
      cliente: state => state.currentCliente,
      data_response_sucursal: state => state.response_sucursal
    })
  },
  mounted () {
      this.initMap()
  },
  data () {
    return {
      update_foto: false,
      geo_localidad_default: {
        'latitud': 19.4978,
        'longitud': -99.1269
      },
      post_data: {
        'name': '',
        'cliente_json': '',
        'data':{
          'geo_localidad': {
          }
        }
      },
      pk_relacion: '',
      relacion_tipo: '',
      data_check: false,
      show: false,
      }
  },
  methods: {
    async agregar_sucursal () {
      this.post_data.cliente_json = this.cliente.pk
      await this.$store.dispatch('post_sucursal', this.post_data)
      await this.$store.dispatch('get_cliente_relaciones', this.cliente.pk)
      await this.$store.dispatch('get_relacion', this.data_response_sucursal)
      if (this.pk_relacion.length > 0) {
        var data = {
          'relacion_tipo': this.relacion_tipo,
          'relacion_clientes_json': this.data_response_sucursal,
          'data': {
            'pk_relacion': parseInt(this.pk_relacion)
          }
        }
        await this.$store.dispatch('post_inventario', data )
      }
      this.$router.push({path: '/cliente/'})
    },
    initMap () {
      var cordenadas = {lat: this.geo_localidad_default.latitud, lng: this.geo_localidad_default.longitud}
      var map = new google.maps.Map(document.getElementById('map'), {
          center: cordenadas,
          zoom: 15
      })
      var marker = new google.maps.Marker({
          position: cordenadas,
          draggable: true,
          map: map
      })

      var instance = this

      google.maps.event.addListener(marker, 'dragend', function(marker){
          instance.post_data.data.geo_localidad.latitud = marker.latLng.lat()
          instance.post_data.data.geo_localidad.longitud = marker.latLng.lng()
      })
    },
    cancelar () {
        this.$router.push({path: '/cliente'})
    },
    check (valor) {
      if (valor > 0) {
        this.show = true
      } else {
        this.show = false
        this.post_data.data.geo_localidad.latitud = 19.4978
        this.post_data.data.geo_localidad.longitud = -99.1269
        this.initMap()
      }
    }
  }
}
</script>
<style scoped>

</style>
