<template>
    <div nav="cliente">
        <Logo/>
        <div class="container margin-container">
            <h3 class="text-center">Añadir Espacio campaña {{relacion.name}}</h3>
            <div class="row">
              <div class="col-sm-4">
                  <div class="row">
                      <div class="col">
                        <label><i class="fas fa-search"></i> Numero de Pk</label>
                        <input v-model="post_data.data.pk_relacion" type="number" class="form-control" >
                      </div>
                      <div class="col">
                        <input type="radio" id="one" value="E" v-model="post_data.relacion_tipo">
                        <label for="one">Espacio</label>
                        <br>
                        <input type="radio" id="two" value="L" v-model="post_data.relacion_tipo">
                        <label for="two">Local</label>
                      </div>
                  </div>
              </div>
              <div class="col-sm-2"></div>
              <div class="col-sm-5">
                  <div class="row">
                    <div class="col-12 col-md-5 mt-4">
                        <button class="button" v-on:click="post_relacion_inventario">Añadir</button>
                    </div>
                    <div class="col-12 col-md-2 mt-4"></div>
                    <div class="col-12 col-md-5 mt-4">
                          <button class="button" v-on:click="cancelar">Cancelar</button>
                      </div>
                  </div>
              </div>
            </div>
        </div>
    </div>
</template>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDAmvouc8wiOPjIXp_CdOLlJvtYTL6RwTo">
</script>
<script>
import Logo from '@/components/Logo'
import { mapState } from 'vuex'
export default {
  name: ' ',
  components: {
    Logo
  },
  computed: {
    ...mapState({
      relacion: state => state.currentRelacion
    })
  },
  mounted () {
  },
  data () {
    return {
      imagenData: '',
      update_foto: false,
      post_data: {
          'relacion_tipo': 'E',
          'relacion_clientes_json' : 1,
          'data':{

          }
      }
    }
  },
  methods: {
   async post_relacion_inventario () {
        this.post_data.relacion_clientes_json = this.relacion.pk
        await this.$store.dispatch('post_espacio', this.post_data)
        this.$router.push({path: '/cliente/sucursal/espacios'})
    },
    cancelar () {
        this.$router.push({path: '/cliente/sucursal/espacios'})
    }
  }
}
</script>
<style scoped>

</style>
