<template>
<div>
    <Logo/>
        <div class="container margin-container">
            <h1 class="text-center">Clientes</h1>
            <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                    <button class="button" v-on:click="nuevoCliente">Registrar nuevo cliente</button>
                    <v-client-table :data="clientes" :columns="columns" :options="options">
                        <template slot="name" slot-scope="props">
                            <button  v-on:click="getCliente(props.row.pk)" class="button">
                                {{props.row.name}}
                            </button>
                        </template>
                        <template slot="sucursales" slot-scope="props">
                            <a href="#" class=" text-dark  ml-5"  v-on:click="eliminar_cliente(props.row.pk)">Eliminar <i class="far fa-trash-alt"></i></a>
                        </template>
                    </v-client-table>
            </div>
        </div>
        <ModalDelete v-bind:data="ModalDeleteConfig"></ModalDelete>
    </div>
    </div>
</template>
<script>
import Vue from 'vue'
import Logo from '@/components/Logo'
import { ClientTable } from 'vue-tables-2'
import { mapGetters, mapState } from 'vuex'
import ModalDelete from '@/components/ModalDelete'

Vue.use(ClientTable)

export default {
  name: 'Cliente',
  components: {
    Logo,
    ModalDelete
  },
  computed: {
    ...mapGetters({
    }),
    ...mapState({
      clientes: state => state.clientes
    })
  },
  mounted () {
    this.set_data()
  },
  data () {
    return {
      number: 5,
      columns: ['name', 'registros', 'sucursales'],
      rows: [],
      datos: [],
      ModalDeleteConfig: {
        visible: false,
        data_delete: false,
        type_target_delete: ''
      },
      options: {
        headings: {
          name: '',
          registros: '',
          sucursales: ''
        },
        filterByColumn: false,
        skin: 'table-clientes table-striped-clientes table-bordered-clientes table-hover-clientes'
      }
    }
  },
  methods: {
    async set_data () {
      await this.$store.dispatch('comun')
      await this.$store.dispatch('get_clientes')
    },
    async getCliente (pk) {
      await this.$store.dispatch('get_cliente', pk)
      await this.$store.dispatch('get_cliente_relaciones', pk)
      this.$router.push({name: 'TablaSucursales'})
    },
    nuevoCliente () {
      this.$router.push({name: 'ClienteRegistro'})
    },
    async eliminar_cliente (pk) {
      this.ModalDeleteConfig.visible = true
      this.ModalDeleteConfig.data_delete = pk
      this.ModalDeleteConfig.type_target_delete = 'CL'
    },
    edit () {
    }
  }
}
</script>
