<template>
  <div>
    <Logo/>
    <div class="container margin-container">
      <h2 class="text-center">Reportes de Incidencias</h2>
      <br>
      <div class="row">
        <div class="col">
          <h3>Incidencias</h3>
          <br>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>

        </div>
        <div class="col-md-2">
        </div>

        <div class="col">
          <h3>Especificaciones</h3>
          <form>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Propietario: </label>
              <div class="col-sm-6">
                <input type="text" readonly class="form-control-plaintext" id="staticEmail" >
              </div>
            </div>
            <div class="form-group row">

              <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword" placeholder="usuario del propietario">
                <br>
                  <button type="submit" class="btn" style="background-color: #982720; color: #FFF">Enviar</button>
              </div>
            </div>
          </form>

                </div>
              </div>
            </div>
    </div>
</template>

<script>
import Logo from '@/components/Logo'
export default {
  name: 'Incidencias',
  components: { Logo
  },
  data () {
    return {
    }
  },
  methods: {

  }
}
</script>
