<template>
    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top mb-5">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="@/assets/logo.png" width="460" height="60" >
        <h3 class="mx-3 text-dark bold">El mejor <b>Espacio</b> para <b>Anunciarte</b></h3>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li>
          <a href="#" class="text-dark nav-link" v-on:click.prevent="clientes" v-show="show">CLIENTES</a>
        </li>
        <li class="nav-item">
          <a href="/vendedor/logout" class="text-dark nav-link">LOGOUT</a>
        </li>
      </ul>
    </div>
  </div>
  </nav>
</template>
<script>
export default {
  name: 'Logo',
  components: {
  },
  computed: {
  },
  props: ['nav'],
  mounted () {
    this.set_btn()
  },

  data () {
    return {
      show: false
    }
  },
  methods: {
    set_btn () {
      if (this.nav === 'cliente') {
        this.show = true
      }
    },
    clientes () {
      this.$router.push({name: 'Clientes'})
    }

  }
}
</script>
