<template>
    <div>
        <div class="row mt-5">
            <div class="col-sm-12 col-md-12">
                 <div id="map"></div>
            </div>
            <div class="col-sm-12 col-md-4" v-show="show">
                <img id="img" @load="card($event)" v-bind:class="imgClass" v-bind:src="imagen" width="100%" height="300">
            </div>
            <div class="col-sm-12 col-md-3" v-show="show">
              <div style="width: 100%; height:300px">
                  <div class="row justify-content-center">
                    <span> <b>Pk:</b> {{card_datos.pk}} <br> </span><br>
                    <span> <b>Nombre:</b> {{card_datos.nombre}} </span>
                    <button @click.prevent="detalles" class="button mt-5">Detalles</button>
                  </div>
              </div>
            </div>
        </div>
        <Detalles v-bind:data="modalConfig"></Detalles>
    </div>
</template>
<script>
import { mapState } from 'vuex'
import Detalles from '@/components/Detalles'

const EXIF = window.EXIF
const google = window.google

export default {
  name: 'Mapa',
  components: {
    Detalles
  },
  props: ['MapsData'],
  computed: {
    ...mapState({
      geo_localidad_data: state => state.data_geo_localidad,
      espacios: state => state.data_espacios.results,
      locales: state => state.data_locales.results,
      institucionales: state => state.data_institucionales.results,
      relacion: state => state.currentRelacion,
      geo_localidad_initmap: state => state.prueba_initmap,
      lista_inventario: state => state.relacion_inventarios
    })
  },
  async mounted () {
    this.geo_localidad_point.lat = this.geo_localidad_initmap.latitud
    this.geo_localidad_point.log = this.geo_localidad_initmap.longitud
    this.geo_localidad[0] = this.geo_localidad_data[0]
    this.geo_localidad[1] = this.geo_localidad_data[1]
    this.InitDataMap()
    if (this.relacion.data.geo_localidad.latitud) {
      this.geo[0] = this.relacion.data.geo_localidad.latitud
      this.geo[1] = this.relacion.data.geo_localidad.longitud
      await this.initCordenadaCampanaMap()
    }
  },
  data () {
    return {
      markersEspacios: [],
      markersLocales: [],
      markersInstitucionales: [],
      show: false,
      geo_localidad: [],
      geo: [],
      geo_localidad_point: {
        'lat': 0,
        'log': 0
      },
      card_datos: {
        'pk': 0,
        'nombre': ''
      },
      imagen: '',
      imgClass: {
        'card-img-top': true,
        'img-fluid': false,
        'mystyle90': false,
        'mystyle180': false,
        'mystyle0': false
      },
      modalConfig: {
        visible: false,
        // type: notify || confirm
        type: 'confirm',
        confirmText: 'Confirmar',
        cancelText: 'Cancelar',
        data_target: false,
        type_target: ''
      }
    }
  },
  methods: {
    InitDataMap () {
      if (this.MapsData === 'L') {
        this.initmap()
        this.initCordenadaFilterMap()
        this.map_locales()
      } else if (this.MapsData === 'E') {
        this.initmap()
        this.initCordenadaFilterMap()
        this.map_espacios()
      } else {
        this.initmap()
        this.initCordenadaFilterMap()
        this.map_institucionales()
      }
    },
    detalles () {
      this.modalConfig.visible = true
    },
    initmap () {
      var latitud
      var longitud
      if (!this.geo_localidad_point.lat) {
        if (this.relacion.data.geo_localidad.latitud) {
          latitud = this.relacion.data.geo_localidad.latitud
          longitud = this.relacion.data.geo_localidad.longitud
        } else {
          latitud = this.geo_localidad[0]
          longitud = this.geo_localidad[1]
        }
      } else {
        latitud = this.geo_localidad_point.lat
        longitud = this.geo_localidad_point.log
      }
      var uluru = {lat: Number(latitud), lng: Number(longitud)}
      this.map = new google.maps.Map(document.getElementById('map'), {
        center: uluru,
        zoom: 14
      })
    },
    initCordenadaCampanaMap () {
      var uluru = {lat: Number(this.geo[0]), lng: Number(this.geo[1])}
      this.marker = new google.maps.Marker({
        icon: 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png',
        position: uluru,
        draggable: false,
        map: this.map
      })
    },
    initCordenadaFilterMap () {
      var latitud = this.geo_localidad[0]
      var longitud = this.geo_localidad[1]
      var uluru = {lat: Number(latitud), lng: Number(longitud)}
      this.marker = new google.maps.Marker({
        icon: 'http://maps.google.com/mapfiles/ms/icons/red-dot.png',
        position: uluru,
        draggable: false,
        map: this.map
      })
    },
    map_espacios () {
      let iconEspacio = 'http://maps.google.com/mapfiles/ms/icons/green-dot.png'
      for (var n = 0; n < this.espacios.length; n++) {
        this.map_marker(n, iconEspacio)
      }
    },
    map_marker (n, icon) {
      var point = this.espacios[n]
      if (!point) {
        return false
      }
      var instance = this
      var uluru = {lat: Number(point.geo_localidad.latitud), lng: Number(point.geo_localidad.longitud)}
      var marker = new google.maps.Marker({
        icon: icon,
        position: uluru,
        draggable: false,
        map: this.map
      })
      this.markersEspacios.push(marker)
      marker.addListener('click', clickedImageEspacio)

      function clickedImageEspacio () {
        instance.stopMarkerAnimationE()
        instance.modalConfig.data_target = point
        instance.modalConfig.type_target = 'E'
        instance.card_datos.pk = point.pk
        instance.card_datos.nombre = point.nombre
        instance.imagen = point.foto
        instance.show = true
        instance.startMarkerAnimation(marker)
      }
    },
    map_locales () {
      let iconLocal = 'http://maps.google.com/mapfiles/ms/micons/orange-dot.png'
      let iconExiste = 'https://img.icons8.com/ios/30/FFAC33/map-pin-filled.png'
      for (var n = 0; n < this.locales.length; n++) {
        const check = this.lista_inventario.find(pk => pk.data.pk_relacion === this.locales[n].pk)
        if (!check) {
          this.map_markerLocal(n, iconLocal)
        } else {
          this.map_markerLocal(n, iconExiste)
        }
        // this.map_markerLocal(n, iconLocal)
      }
    },
    map_markerLocal (n, icon) {
      var point = this.locales[n]
      if (!point) {
        return false
      }
      var instance = this
      var uluru = {lat: Number(point.geo_localidad.latitud), lng: Number(point.geo_localidad.longitud)}
      var marker = new google.maps.Marker({
        icon: icon,
        position: uluru,
        draggable: false,
        map: this.map
      })
      this.markersLocales.push(marker)
      marker.addListener('click', clickedImageLocal)

      function clickedImageLocal () {
        instance.stopMarkerAnimationL()
        instance.card_datos.pk = point.pk
        instance.modalConfig.data_target = point
        instance.modalConfig.type_target = 'L'
        if (point.foto) {
          instance.imagen = point.foto.src
        } else {
          instance.imagen = null
        }
        instance.card_datos.nombre = point.nombre_comercial
        instance.show = true
        instance.startMarkerAnimation(marker)
      }
    },
    map_institucionales () {
      var iconInstitucional = 'http://maps.google.com/mapfiles/ms/micons/purple-dot.png'
      let iconExiste = 'https://img.icons8.com/ios/30/442390/map-pin-filled.png'
      for (var n = 0; n < this.institucionales.length; n++) {
        const check = this.lista_inventario.find(pk => pk.data.pk_relacion === this.institucionales[n].pk)
        if (!check) {
          this.map_markerInstitucional(n, iconInstitucional)
        } else {
          this.map_markerInstitucional(n, iconExiste)
        }
        // this.map_markerInstitucional(n, iconInstitucional)
      }
    },
    map_markerInstitucional (n, icon) {
      var point = this.institucionales[n]
      if (!point) {
        return false
      }
      var instance = this
      var uluru = {lat: Number(point.geo_localidad.latitud), lng: Number(point.geo_localidad.longitud)}
      var marker = new google.maps.Marker({
        icon: icon,
        position: uluru,
        draggable: false,
        map: this.map
      })
      this.markersInstitucionales.push(marker)
      marker.addListener('click', clickedImageInstitucionales)

      function clickedImageInstitucionales () {
        instance.stopMarkerAnimationI()
        instance.card_datos.pk = point.pk
        instance.modalConfig.data_target = point
        instance.modalConfig.type_target = 'I'
        if (point.data.foto) {
          instance.imagen = point.data.foto[0]
        } else {
          instance.imagen = null
        }
        instance.card_datos.nombre = point.data.empresa
        instance.show = true
        instance.startMarkerAnimation(marker)
      }
    },
    stopMarkerAnimationE () {
      var markers = this.markersEspacios
      for (var i = 0; i < markers.length; i++) {
        markers[i].setAnimation(null)
      }

      return true
    },
    stopMarkerAnimationL () {
      var markers = this.markersLocales
      for (var i = 0; i < markers.length; i++) {
        markers[i].setAnimation(null)
      }
      return true
    },
    stopMarkerAnimationI () {
      var markers = this.markersInstitucionales
      for (var i = 0; i < markers.length; i++) {
        markers[i].setAnimation(null)
      }
      return true
    },
    startMarkerAnimation (marker) {
      if (marker.getAnimation() !== null) {
        marker.setAnimation(null)
      } else {
        marker.setAnimation(google.maps.Animation.BOUNCE)
      }

      return true
    },
    card ($event) {
      var imagen = $event.target
      imagen.exifdata = null

      this.set_rotation(imagen)
    },
    set_rotation (img) {
      var instance = this

      getExif(img)

      function getExif (img) {
        var CeroGrados = 'mystyle0'
        var NoventaGrados = 'mystyle90'
        var CientoOchentaGrados = 'mystyle180'

        EXIF.getData(img, function () {
          var Orientation = EXIF.getTag(this, 'Orientation')
          var arr = img.className.split(' ')
          if (Orientation) {
            if (Orientation === 6) {
              if (arr.indexOf(NoventaGrados) === -1) {
                instance.imgClass.mystyle90 = true
                instance.imgClass.mystyle0 = false
                instance.imgClass.mystyle180 = false
              }
            } else if (Orientation === 3) {
              if (arr.indexOf(CientoOchentaGrados) === -1) {
                instance.imgClass.mystyle90 = false
                instance.imgClass.mystyle0 = false
                instance.imgClass.mystyle180 = true
              }
            } else {
              if (arr.indexOf(CeroGrados) === -1) {
                instance.imgClass.mystyle90 = false
                instance.imgClass.mystyle0 = true
                instance.imgClass.mystyle180 = false
              }
            }
          } else {
            if (arr.indexOf(CeroGrados) === -1) {
              instance.imgClass.mystyle90 = false
              instance.imgClass.mystyle0 = true
              instance.imgClass.mystyle180 = false
            }
          }
        })
      }
    }
  }
}
</script>
