<template id="zaffri-modal-template" class="zaffri-modal-template">
        <div v-if="data.visible" class="zaffri-modal">
            <div class="zaffri-modal-body-delete">
                <div class="container" v-if="data.type_target_delete === 'R'">
                  <h3 class="text-center">¿Quieres eliminar el espacio de esta campaña?</h3>
                  <div class="row d-flex justify-content-around">
                    <button @click="deleteEspacio(false)" class="btn btn-danger mt-3">Si</button>
                    <button @click="closeModal(false)" class="btn btn-danger mt-3">Cancelar</button>
                  </div>
                </div>
                <div class="container" v-else-if="data.type_target_delete === 'C'">
                  <h3 class="text-center">¿Quieres eliminar esta campaña del cliente?</h3>
                  <div class="row d-flex justify-content-around">
                  <button @click="deleteCampania(false)" class="btn btn-danger mt-3">Si</button>
                  <button @click="closeModal(false)" class="btn btn-danger mt-3">Cancelar</button>
                  </div>
                </div>
                <div class="container" v-else-if="data.type_target_delete === 'CL'">
                  <h3 class="text-center">¿Quieres eliminar este cliente?</h3>
                  <div class="row d-flex justify-content-around">
                    <button @click="deleteCliente(false)" class="btn btn-danger mt-3">Si</button>
                    <button @click="closeModal(false)" class="btn btn-danger mt-3">Cancelar</button>
                  </div>
                </div>
            </div>

        </div>
</template>
<script>
import Logo from '@/components/Logo'
import {mapState} from 'vuex'

export default {
  name: 'ModalDelete',
  components: {
    Logo
  },
  template: '#zaffri-modal-template',
  props: ['data'],
  computed: {
    ...mapState({
      cliente: state => state.currentCliente,
      relacion: state => state.currentRelacion
    })
  },
  mounted () {},
  data () {
    return {
    }
  },
  methods: {
    async deleteCliente (action = null) {
      await this.$store.dispatch('delete_cliente', this.data.data_delete)
      await this.$store.dispatch('get_clientes')
      this.data.visible = false
    },
    async deleteCampania (action = null) {
      await this.$store.dispatch('delete_campana', this.data.data_delete)
      await this.$store.dispatch('get_cliente_relaciones', this.cliente.pk)
      this.data.visible = false
    },
    async deleteEspacio (action = null) {
      await this.$store.dispatch('delete_relacion_inventario', this.data.data_delete)
      await this.$store.dispatch('get_relacion_inventarios', this.relacion.pk)
      this.data.visible = false
    },
    closeModal: function (action = null) {
      this.data.visible = false
    }
  }
}
</script>
