<template id="zaffri-modal-template" class="zaffri-modal-template">
        <div v-if="data.visible" class="zaffri-modal">
            <div class="zaffri-modal-body-add">
                <div class="row d-flex justify-content-center">
                  <div class="col-sm-12 col-md-7">
                    <h3 class="text-center">Agregar espacios a {{relacion.name}}</h3>
                    <div class="row">
                      <div class="col-sm-12 col-md-6">
                        <label><i class="fas fa-search"></i> Numero de Pk</label>
                        <input v-model="pk_relacion" type="text" class="form-control" >
                      </div>
                      <div class="col-sm-12 col-md-6">
                        <input type="radio" id="two" value="L" v-model="relacion_tipo">
                        <label for="two"><b>Local</b></label>
                        <input type="radio" id="three" value="I" v-model="relacion_tipo">
                        <label for="three"><b>Espacio ooh</b></label>
                      </div><br>
                    </div>
                    <div class="row">
                      <div class="col-sm-7 col-md-5">
                        <button @click="closeModal(false)" class="btn btn-danger mt-3">Cancelar</button>
                      </div>
                      <div class="col-sm-7 col-md-5">
                        <button @click="agregar(false)" class="btn btn-danger mt-3">Agregar espacio</button>
                      </div>
                    </div>
                  </div>
                </div>
            </div>

        </div>
</template>
<script>
import {mapState} from 'vuex'

export default {
  name: 'ModalAdd',
  components: {
  },
  template: '#zaffri-modal-template',
  props: ['data'],
  computed: {
    ...mapState({
      relacion: state => state.currentRelacion,
      url: state => state.data_url_local
    })
  },
  mounted () {},
  data () {
    return {
      pk_relacion: '',
      relacion_tipo: ''
    }
  },
  methods: {
    closeModal: function (action = null) {
      this.data.visible = false
    },
    async agregar (action = null) {
      var data = {
        'relacion_tipo': this.relacion_tipo,
        'relacion_clientes_json': this.relacion.pk,
        'data': {
          'pk_relacion': parseInt(this.pk_relacion)
        }
      }
      await this.$store.dispatch('post_inventario', data)
      await this.$store.dispatch('get_relacion_inventarios', this.relacion.pk)
      this.data.visible = false
    }
  }
}
</script>
