<template>
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item" v-bind:class="isDisabled(previous)">
        <a class="page-link" href="#" aria-label="Previous" @click.prevent='executePrevious'>
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li class="page-item" v-bind:class="isDisabled(next)">
        <a class="page-link" href="#" aria-label="Next" @click.prevent='executeNext'>
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>
</template>

<script>
export default {
  name: 'PaginatorLocal',
  props: {
    next: {},
    previous: {},
    count: {}
  },
  methods: {
    executeNext () {
      this.$emit('handleEvent', 'next')
    },
    executePrevious () {
      this.$emit('handleEvent', 'previous')
    },
    isDisabled (param) {
      if (param == null) {
        return ['disabled']
      } else {
        return []
      }
    }
  }
}
</script>
