<template>
  <div>
    <Logo nav="cliente"/>
    <div class="container margin-container">
      <div class="col">
        <br>
        <h2 class="text-center"><b>Añadir Clientes</b></h2>
        <br>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-5">
          <h3 class="text-left">Información</h3>
          <label>Nombre</label>
          <input v-model="post_data.name" type="text" class="form-control">
          <br>
          <button class="button" v-on:click="agregar_cliente">Agregar</button>
          </div>
          <div class="col-sm-2"></div>
          <div class="col-sm-5">
          </div>
        </div>
      </div>
    </div>
</template>

<script>
import { mapState } from 'vuex'
import Logo from '@/components/Logo'

export default {
  name: 'RegistroCliente',
  components: { Logo
  },
  computed: {
    ...mapState({
      pk: state => state.data_cliente_pk
    })
  },
  data () {
    return {
      post_data: {
        'name': '',
        'data': {
          'comentarios': 'sin comentarios'
        }
      }
    }
  },
  methods: {
    async agregar_cliente () {
      await this.$store.dispatch('post_cliente', this.post_data)
      try {
        await this.$store.dispatch('get_clientes')
        await this.$store.dispatch('get_cliente', this.pk)
        await this.$store.dispatch('get_cliente_relaciones', this.pk)
        this.$router.push({name: 'TablaSucursales'})
      } catch (error) {
        this.$router.push({path: '/'})
      }
    }
  }
}
</script>
