<template>
    <div>
      <Logo nav="cliente"/>
        <div class="container">
          <h2 class="py-2 bg-danger text-center text-light margin-container">Locales</h2>
            <div class="row justify-content-center mt-1">
              <div class="col-12 col-md-2 mt-5">
                <button @click.prevent="regresar" class="button">Regresar</button>
              </div>
            </div>
            <Mapa MapsData="L"></Mapa>
            <div class="row mt-2">
              <div class="col-sm-6 col-md-4">
                <p><img src="http://maps.google.com/mapfiles/ms/micons/orange-dot.png" alt=""> Locales</p>
                <p><img src="https://img.icons8.com/ios/30/FFAC33/map-pin-filled.png" alt="Agregados">Ya agregados</p>
              </div>
            </div>
            <div class="row justify-content-center mt-3" v-if="locales_count > 0">
              <div class="col-md-1">
                <PaginatorLocal  :next="locales_next" :previous="locales_previous" :count="locales_count" @handleEvent='paginatorEventLocal'/>
              </div>
            </div>
            <div class="row mt-5">
                <div class="col-sm-12 mt-5">
                  <v-client-table :columns="columns" :data="lista_search" :options="options">
                  <template slot="pk" slot-scope="props">
                    <a v-on:click.prevent='detalles(props.row)' class="text-white" href="#">{{props.row.pk}}</a>
                  </template>
                  <template slot="descripcion" slot-scope="props">
                       <span> <b>Calle: </b> {{props.row.direccion.calle}}<br> </span>
                       <span> <b>Colonia: </b> {{props.row.direccion.colonia}}<br> </span>
                       <span> <b>Municipio: </b> {{props.row.direccion.municipio}} </span>
                  </template>
                  <template slot="foto" slot-scope="props">
                    <div v-if="lista_inventario.find(pk => pk.data.pk_relacion === props.row.pk)"></div>
                    <div v-else>
                    <div v-if="props.row.foto">
                      <img @load="rotate_on_load($event)" v-bind:src="props.row.foto.src" class="img-thumbnail orientacion" style="width: 150px; height: 120px;">
                    </div>
                    </div>
                  </template>
                  <template slot="agregar" slot-scope="props">
                    <div v-if="lista_inventario.find(pk => pk.data.pk_relacion === props.row.pk)">
                      <b>YA AGREGADO A {{relacion.name}}</b>
                    </div>
                    <div v-else>
                      <div class="input-group mb-3">
                        <a v-on:click.prevent='agregarLocal(props.row.pk)' class="text-white" href="#">agregar</a>
                      </div>
                    </div>
                  </template>
                  </v-client-table>
                </div>
            </div>
            <Detalles v-bind:data="modalConfig"></Detalles>
        </div>
    </div>
</template>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDAmvouc8wiOPjIXp_CdOLlJvtYTL6RwTo"></script>
<script>
import Vue from 'vue'
import { ClientTable } from 'vue-tables-2'
import PaginatorLocal from '@/components/PaginatorLocal'
import Logo from '@/components/Logo'
import Mapa from '@/components/Mapa'
import Detalles from '@/components/Detalles'
import { mapState, mapGetters } from 'vuex'

Vue.use(ClientTable)
export default {
  name: 'tablaLocales',
  components: {
    PaginatorLocal,
    Logo,
    Mapa,
    Detalles
  },
  computed: {
    ...mapGetters({
      inventarios: 'inventarios',
    }),
    ...mapState({
      relacion: state => state.currentRelacion,
      lista_search: state => state.data_locales.results,
      lista_inventario: state => state.relacion_inventarios,
      url: state => state.data_url_local,
      locales_count: state => state.data_locales.count,
      locales_next: state => state.data_locales.next,
      locales_previous: state => state.data_locales.previous,
    })
  },
  mounted () {
  },
  data () {
    return {
      relacion_tipo_card: '',
      show: false,
      card_datos: {
        calle:'',
        colonia: '',
        municipio: '',
        giro: '',
        tipo: ''
      },
      Orientation:0,
      imgClass:{
        'card-img-top': true,
        'img-fluid': false,
        'mystyle90': false,
        'mystyle180': false,
        'mystyle0': false,
      },
      modalConfig: {
        visible: false,
        // type: notify || confirm
        type: "confirm",
        confirmText: "Confirmar",
        cancelText: "Cancelar",
        data_target: false,
        type_target: ''
      },
      number: 5,
      columns: ['pk', 'nombre_comercial','descripcion', 'foto', 'agregar'],
      datos: [],
      markers: [],
      imagen: '',
      options: {
        filterByColumn: true,
        filterable: [
          'pk',
          'nombre_comercial'
        ],
        headings: {
          pk: 'Pk',
          nombre_comercial: 'Nombre',
          descripcion: 'Descripción'
        },
        perPage:100,
        skin: 'table-default table-striped-default table-bordered-default table-hover-default'
      }
    }
  },
  methods: {
    async agregarLocal (pk) {
      var data = {
        'relacion_tipo': 'L',
        'relacion_clientes_json': this.relacion.pk,
        'data': {
          'pk_relacion': pk
        }
      }
      await this.$store.dispatch('post_inventario', data)
      await this.$store.dispatch('get_relacion_inventarios', this.relacion.pk)
      await this.$store.dispatch('searchLocales', this.url)
    },
    rotate_on_load($event){

      this.set_rotation($event.target, 0)
    },
    async paginatorEventLocal (event) {
      if (event === 'next') {
        await this.$store.dispatch('searchLocales', this.locales_next)
      } else if (event === 'previous') {
        await this.$store.dispatch('searchLocales', this.locales_previous)
      }
    },
    detalles (data) {
      this.modalConfig.data_target = data
      this.modalConfig.type_target = 'L'
      this.modalConfig.visible = true
    },
    set_rotation(img, tag){
      var instance = this

      getExif(img, tag)

      function getExif(img, tag){
        var CeroGrados = "mystyle0"
        var NoventaGrados = "mystyle90"
        var CientoOchentaGrados ="mystyle180"

        EXIF.getData(img, function() {
          var data = EXIF.getAllTags(this);
          var ExifIFDPointer = EXIF.getTag(this, "ExifIFDPointer")
          var Orientation = EXIF.getTag(this, "Orientation")
          var arr = img.className.split(" ")
          if(Orientation){
            if(Orientation == 6){
              if(arr.indexOf(NoventaGrados) == -1){
                if(tag == 0){
                  img.className += " "+NoventaGrados
                }
                else if (tag == 1) {
                  instance.imgClass.mystyle90 = true
                }
              }
            }
            else if (Orientation === 1) {
              if(tag == 0) {
                img.className += ' ' + CeroGrados
              } else if (tag === 1) {

              }
            }
            else{
              if(arr.indexOf(CientoOchentaGrados) == -1){
                if(tag == 0){
                  img.className += " "+CientoOchentaGrados
                }
                else if (tag == 1) {
                  instance.imgClass.mystyle180 = true
                }
              }
            }
          }else{
            if(arr.indexOf(CeroGrados) == -1){
              if(tag == 0){
                img.className += " "+CeroGrados
              }
              else if (tag == 1) {
                instance.imgClass.mystyle0 = true
              }
            }
          }
        });
      }
    },
    card () {
      if(this.Orientation == 1){
        this.imgClass.mystyle0 = true
      }else if(this.Orientation == 3){
        this.imgClass.mystyle180 = true
      }else if(this.Orientation == 6){
        this.imgClass.mystyle90 = true
      }
    },
    applyOrientation (img) {
      var exifdata = img.exifdata
      this.Orientation = exifdata.Orientation
      this.imgClass.mystyle90 = false
      this.imgClass.mystyle180 = false
      this.imgClass.mystyle0 = false
      this.imagen = img.src
    },
    regresar () {
      this.$router.push({name: 'VendedorEspacio', params: {id:1}})
    }
  }

}
</script>
<style scoped>

</style>
