<template>
    <div>
        <logo nav="cliente"/>
        <div class="container margin-container">
          <h1 class="text-center">Campañas</h1>
            <div class="row justify-content-center">
                <div class="col-sm-8">
                    <h3 class="text-center bg-danger text-white">{{cliente.name}}</h3>
                    <v-client-table :columns="columns" :data="relaciones" :options="options">
                      <template slot="pk" slot-scope="props">
                        <a class="text-white ml-4" href="#" v-on:click="espacio(props.row.pk)">{{props.row.pk}}</a>
                      </template>
                      <template slot="sucursal" slot-scope="props">
                       <span class="ml-5"> {{props.row.sucursal}} </span>
                      </template>
                      <template slot="agregar" slot-scope="props">
                        <a href="#" v-on:click="agregar_espacio(props.row.pk)" class="text-white">Agregar espacios <i class="far fa-edit"></i></a>
                      </template>
                      <template slot="eliminar" slot-scope="props">
                        <a href="#" v-on:click="delete_campana(props.row.pk)" class="text-white">Eliminar <i class="far fa-trash-alt"></i></a>
                        </template>
                    </v-client-table>
                </div>
            </div>
            <ModalDelete v-bind:data="ModalDeleteConfig"></ModalDelete>
            <div class="row justify-content-center justify-content-md-center justify-content-sm-center">
                <div class="col-12 col-sm-12 col-md-2 mt-4">
                    <button v-on:click="add" class="button">Añadir Campaña</button>
                </div>
                <div class="col-12 col-sm-12 col-md-2 mt-4">
                  <button class="button" v-on:click="agregar_usuario">Añadir usuario</button>
                </div>
                <div class="col-12 col-sm-12 col-md-2 mt-4">
                  <button v-on:click="regresar" class="button">
                    Regresar
                  </button>
                </div>
            </div>
        </div>

    </div>
</template>
<script>
import Vue from 'vue'
import Logo from '@/components/Logo'
import { ClientTable } from 'vue-tables-2'
import { mapState } from 'vuex'
import ModalDelete from '@/components/ModalDelete'

Vue.use(ClientTable)
export default {
  name: 'TablaSucursal',
  components: {
    Logo,
    ModalDelete
  },
  computed: {
    ...mapState({
      cliente: state => state.currentCliente,
      relaciones: state => state.cliente_relaciones
    })
  },
  mounted () {
  },
  data () {
    return {
      number: 5,
      columns: ['pk', 'name', 'agregar', 'eliminar'],
      datos: [],
      ModalDeleteConfig: {
        visible: false,
        data_delete: false,
        type_target_delete: ''
      },
      options: {
        headings: {
          sucursal: 'Sucursal',
          edit: ''
        },
        filterable: [],
        filterByColumn: false,
        skin: 'table-default table-striped-default table-bordered-default table-hover-default'
      }
    }
  },
  methods: {
    add () {
      this.$router.push({name: 'ClienteAddSucursal'})
    },
    agregar_usuario () {
      this.$router.push({name: 'AgregarUsuario'})
    },
    regresar () {
      this.$router.push({name: 'Clientes'})
    },
    async espacio (pk) {
      await this.$store.dispatch('get_relacion', pk)
      this.$router.push({name: 'SucursalEspacios'})
    },
    async agregar_espacio (pk) {
      await this.$store.commit('GEO_LOCALIDAD_RESET')
      await this.$store.dispatch('get_relacion', pk)
      this.$router.push({name: 'VendedorEspacio'})
    },
    async delete_campana (x) {
      const data = {
        'relacion': this.cliente.pk,
        'valor_campana': x
      }
      this.ModalDeleteConfig.visible = true
      this.ModalDeleteConfig.data_delete = data
      this.ModalDeleteConfig.type_target_delete = 'C'
      // await this.$store.dispatch('delete_campana', data)
      // await this.$store.dispatch('get_cliente_relaciones', this.cliente.pk)
    }
  }

}
</script>
<style scoped>

</style>data
