<template>
    <div>
      <Logo nav="cliente"/>
        <div class="container">
            <h2 class="py-2 bg-danger text-center text-light margin-container">Espacios ooh</h2>
            <div class="row justify-content-center mt-1">
              <div class="col-12 col-md-2 mt-5">
                <button @click.prevent="regresar" class="button">Regresar</button>
              </div>
            </div>
            <Mapa MapsData="I"></Mapa>
            <div class="row mt-2">
              <div class="col-sm-6 col-md-4">
                <p><img src="http://maps.google.com/mapfiles/ms/micons/orange-dot.png" alt="">Espacios ooh</p>
                <p><img src="https://img.icons8.com/ios/30/442390/map-pin-filled.png" alt="Agregados">Ya agregados</p>
              </div>
            </div>
            <div class="row justify-content-center mt-3" v-if="institucionales_count > 0">
              <div class="col-md-1">
                <PaginatorInstitucional  :next="institucionales_next" :previous="institucionales_previous" :count="institucionales_count" @handleEvent='paginatorEventInstitucional'/>
              </div>
            </div>
            <div class="row mt-5">
                <div class="col-sm-12 mt-5">
                  <v-client-table :columns="columns" :data="lista_search" :options="options">
                  <template slot="pk" slot-scope="props">
                    <a v-on:click.prevent='detalles(props.row)' class="text-white" href="#">{{props.row.pk}}</a>
                  </template>
                  <template slot="nombre" slot-scope="props">
                    {{props.row.data.empresa}}
                  </template>
                  <template slot="precio" slot-scope="props">
                    <div v-if="props.row.data.precio" class="espacio">
                      <span> $ {{props.row.data.precio | money}}</span>
                    </div>
                    <div v-else>
                      <span>$ 0.00</span>
                    </div>
                  </template>
                  <template slot="data" slot-scope="props">
                    <div v-if="lista_inventario.find(pk => pk.data.pk_relacion === props.row.pk)"></div>
                    <div v-else>
                      <b>Tipo:</b> {{props.row.data.tipo}} <br>
                      <b>Calificacion: </b> {{props.row.data.calificacion}}
                    </div>
                  </template>
                  <template slot="foto" slot-scope="props">
                    <div v-if="lista_inventario.find(pk => pk.data.pk_relacion === props.row.pk)"></div>
                    <div v-else>
                      <div v-if="props.row.data.foto">
                        <img @load="rotate_on_load($event)" v-bind:src="props.row.data.foto[0]" class="img-thumbnail orientacion" style="width: 150px; height: 120px;">
                      </div>
                    </div>
                  </template>
                  <template slot="agregar" slot-scope="props">
                    <div v-if="lista_inventario.find(pk => pk.data.pk_relacion === props.row.pk)">
                      <b>YA AGREGADO A {{relacion.name}}</b>
                    </div>
                    <div v-else>
                    <div class="input-group mb-3">
                      <a v-on:click.prevent='agregarInstitucional(props.row.pk)' class="text-white" href="#">agregar</a>
                    </div>
                    </div>
                  </template>
                  </v-client-table>
                </div>
            </div>
            <Detalles v-bind:data="modalConfig"></Detalles>
        </div>
    </div>
</template>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDAmvouc8wiOPjIXp_CdOLlJvtYTL6RwTo"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.4/numeral.min.js"></script>
<script>
import Vue from 'vue'
import { ClientTable } from 'vue-tables-2'
import PaginatorInstitucional from '@/components/PaginatorInstitucional'
import Logo from '@/components/Logo'
import Mapa from '@/components/Mapa'
import Detalles from '@/components/Detalles'
import { mapState, mapGetters } from 'vuex'

Vue.use(ClientTable)

Vue.filter('money', function(value){

 value +='';
 var splitStr = value.split('.');
 var splitLeft = splitStr[0];
 var splitRight = splitStr.length > 1 ? '.' + splitStr[1] : '';
 var regx = /(\d+)(\d{3})/;
 while (regx.test(splitLeft)) {
 splitLeft = splitLeft.replace(regx, '$1' + ',' + '$2');
 }
 return  splitLeft + splitRight;
 })

export default {
  name: 'tablaEspaciosInstitucionale',
  components: {
    PaginatorInstitucional,
    Logo,
    Mapa,
    Detalles
  },
  computed: {
    ...mapGetters({
      inventarios: 'inventarios',
    }),
    ...mapState({
      relacion: state => state.currentRelacion,
      lista_search: state => state.data_institucionales.results,
      lista_inventario: state => state.relacion_inventarios,
      url: state => state.data_url_institucional,
      institucionales_count: state => state.data_institucionales.count,
      institucionales_next: state => state.data_institucionales.next,
      institucionales_previous: state => state.data_institucionales.previous
    })
  },
  mounted () {
  },
  data () {
    return {
      relacion_tipo_card: '',
      show: false,
      card_datos: {
        calle:'',
        colonia: '',
        municipio: '',
        giro: '',
        tipo: ''
      },
      Orientation:0,
      imgClass:{
        'card-img-top': true,
        'img-fluid': false,
        'mystyle90': false,
        'mystyle180': false,
        'mystyle0': false,
      },
      modalConfig: {
        visible: false,
        // type: notify || confirm
        type: "confirm",
        confirmText: "Confirmar",
        cancelText: "Cancelar",
        data_target: false,
        type_target: ''
      },
      number: 5,
      columns: ['pk', 'nombre', 'precio', 'data', 'foto', 'agregar'],
      datos: [],
      markers: [],
      imagen: '',
      options: {
        filterByColumn: true,
        filterable: [
          'pk',
        ],
        headings: {
          pk: 'Pk',
          data: 'Descripción'
        },
        perPage:100,
        skin: 'table-default table-striped-default table-bordered-default table-hover-default'
      }
    }
  },
  methods: {
    async agregarInstitucional (pk) {
      var data = {
        'relacion_tipo': 'I',
        'relacion_clientes_json': this.relacion.pk,
        'data': {
          'pk_relacion': pk
        }
      }
      await this.$store.dispatch('post_inventario', data)
      await this.$store.dispatch('get_relacion_inventarios', this.relacion.pk)
      await this.$store.dispatch('searchInstitucionales ', this.url)
    },
    async paginatorEventInstitucional (event) {
      if (event === 'next') {
        await this.$store.dispatch('searchInstitucionales', this.institucionales_next)
      } else if (event === 'previous') {
        await this.$store.dispatch('searchInstitucionales', this.institucionales_previous)
      }
    },
    detalles (data) {
      this.modalConfig.data_target = data
      this.modalConfig.type_target = 'I'
      this.modalConfig.visible = true
    },
    rotate_on_load($event){

      this.set_rotation($event.target, 0)
    },
    set_rotation(img, tag){
      var instance = this

      getExif(img, tag)

      function getExif(img, tag){
        var CeroGrados = "mystyle0"
        var NoventaGrados = "mystyle90"
        var CientoOchentaGrados ="mystyle180"

        EXIF.getData(img, function() {
          var data = EXIF.getAllTags(this);
          var ExifIFDPointer = EXIF.getTag(this, "ExifIFDPointer")
          var Orientation = EXIF.getTag(this, "Orientation")
          var arr = img.className.split(" ")
          if(Orientation){
            if(Orientation == 6){
              if(arr.indexOf(NoventaGrados) == -1){
                if(tag == 0){
                  img.className += " "+NoventaGrados
                }
                else if (tag == 1) {
                  instance.imgClass.mystyle90 = true
                }
              }
            }
            else if (Orientation == 1) {
            }
            else{
              if(arr.indexOf(CientoOchentaGrados) == -1){
                if(tag == 0){
                  img.className += " "+CientoOchentaGrados
                }
                else if (tag == 1) {
                  instance.imgClass.mystyle180 = true
                }
              }
            }
          }else{
            if(arr.indexOf(CeroGrados) == -1){
              if(tag == 0){
                img.className += " "+CeroGrados
              }
              else if (tag == 1) {
                instance.imgClass.mystyle0 = true
              }
            }
          }
        });
      }
    },
    card () {
      if(this.Orientation == 1){
        this.imgClass.mystyle0 = true
      }else if(this.Orientation == 3){
        this.imgClass.mystyle180 = true
      }else if(this.Orientation == 6){
        this.imgClass.mystyle90 = true
      }
    },
    applyOrientation (img) {
      var exifdata = img.exifdata
      this.Orientation = exifdata.Orientation
      this.imgClass.mystyle90 = false
      this.imgClass.mystyle180 = false
      this.imgClass.mystyle0 = false
      this.imagen = img.src
    },
    regresar () {
      this.$router.push({name: 'VendedorEspacio', params: {id:1}})
    }
  }

}
</script>
<style scoped>

</style>
