<template>
    <div>
      <Logo nav="cliente"/>
        <div class="container mt-5">
            <h2 class="py-2 bg-danger text-center text-light margin-container">Espacios</h2>
            <div class="row justify-content-center mt-1">
              <div class="col-12 col-md-2 mt-5">
                <button @click.prevent="regresar" class="button">Regresar</button>
              </div>
            </div>
            <Mapa MapsData="E"></Mapa>
            <div class="row justify-content-center mt-3" v-if="espacios_count > 0">
              <div class="col-md-1">
                <Paginator  :next="espacios_next" :previous="espacios_previous" :count="espacios_count" @handleEvent='paginatorEvent'/>
              </div>
            </div>
            <div class="row mt-2">
                <div class="col-sm-12 mt-3">
                  <v-client-table :columns="columns" :data="lista_search" :options="options">
                  <template slot="descripcion" slot-scope="props">
                      <div v-if="lista_inventario.find(pk => pk.data.pk_relacion === props.row.pk)"></div>
                      <div v-else>
                      <b>Giro:</b> {{giros.find(pk => pk.pk === props.row.giro).designacion}} <br>
                      <b>Tipo:</b> {{tipos.find(pk => pk.pk === props.row.tipo).designacion}}
                      </div>
                  </template>
                  <template slot="foto" slot-scope="props">
                    <div v-if="lista_inventario.find(pk => pk.data.pk_relacion === props.row.pk)"></div>
                    <div v-else>
                      <img @load="rotate_on_load($event)" v-bind:src="props.row.foto" class="img-thumbnail orientacion" style="width: 150px; height: 120px;">
                    </div>
                  </template>
                  <template slot="agregar" slot-scope="props">
                    <div v-if="lista_inventario.find(pk => pk.data.pk_relacion === props.row.pk)">
                      <b>YA AGREGADO A {{relacion.name}}</b>
                    </div>
                    <div v-else>
                    <div class="input-group mb-3">
                      <a v-on:click.prevent='agregarEspacio(props.row.pk, props)' class="text-white" href="#">agregar</a>
                    </div>
                    </div>
                  </template>
                  </v-client-table>
                </div>
            </div>
        </div>
    </div>
</template>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDAmvouc8wiOPjIXp_CdOLlJvtYTL6RwTo"></script>
<script>
import Vue from 'vue'
import { ClientTable } from 'vue-tables-2'
import Paginator from '@/components/Paginator'
import Logo from '@/components/Logo'
import Mapa from '@/components/Mapa'
import { mapState, mapGetters } from 'vuex'

Vue.use(ClientTable)
export default {
  name: 'TablaEspacios',
  components: {
    Paginator,
    Logo,
    Mapa
  },
  computed: {
    ...mapGetters({
      inventarios: 'inventarios',
    }),
    ...mapState({
      tipos: state => state.data_tipos,
      giros: state => state.data_giros,
      relacion: state => state.currentRelacion,
      lista_search: state => state.data_espacios.results,
      lista_inventario: state => state.relacion_inventarios,
      url: state => state.data_url_espacio,
      espacios_count: state => state.data_espacios.count,
      espacios_next: state => state.data_espacios.next,
      espacios_previous: state => state.data_espacios.previous,
    })
  },
async mounted () {},
  data () {
    return {
      relacion_tipo_card: '',
      show: false,
      card_datos: {
        calle:'',
        colonia: '',
        municipio: '',
        giro: '',
        tipo: ''
      },
      Orientation:0,
      imgClass:{
        'card-img-top': true,
        'img-fluid': false,
        'mystyle90': false,
        'mystyle180': false,
        'mystyle0': false,
      },
      number: 5,
      columns: ['pk', 'nombre','descripcion', 'foto', 'agregar'],
      datos: [],
      markers: [],
      imagen: '',
      options: {
        filterByColumn: true,
        filterable: [
          'pk',
          'relacion_tipo',
          'nombre'
        ],
        headings: {
          pk: 'Pk',
          nombre: 'Nombre',
          descripcion: 'Descripción'
        },
        perPage:100,
        skin: 'table-default table-striped-default table-bordered-default table-hover-default'
      }
    }
  },
  methods: {
    async agregarEspacio (pk, row) {
      var data = {
        'relacion_tipo': 'E',
        'relacion_clientes_json': this.relacion.pk,
        'data': {
          'pk_relacion': pk
        }
      }
      await this.$store.dispatch('post_inventario', data)
      await this.$store.dispatch('get_relacion_inventarios', this.relacion.pk)
      await this.$store.dispatch('searchEspacios', this.url)
    },
    async paginatorEvent (event) {
      if (event === 'next') {
        await this.$store.dispatch('searchEspacios', this.espacios_next)
      } else if (event === 'previous') {
        await this.$store.dispatch('searchEspacios', this.espacios_previous)
      }
    },
    rotate_on_load($event){
      this.set_rotation($event.target, 0)
    },
    set_rotation(img, tag){
      var instance = this

      getExif(img, tag)

      function getExif(img, tag){
        var CeroGrados = "mystyle0"
        var NoventaGrados = "mystyle90"
        var CientoOchentaGrados ="mystyle180"

        EXIF.getData(img, function() {
          var data = EXIF.getAllTags(this);
          var ExifIFDPointer = EXIF.getTag(this, "ExifIFDPointer")
          var Orientation = EXIF.getTag(this, "Orientation")
          var arr = img.className.split(" ")
          if(Orientation){
            if(Orientation == 6){
              if(arr.indexOf(NoventaGrados) == -1){
                if(tag == 0){
                  img.className += " "+NoventaGrados
                }
                else if (tag == 1) {
                  instance.imgClass.mystyle90 = true
                }
              }
            }
            else if (Orientation == 1) {
            }
            else{
              if(arr.indexOf(CientoOchentaGrados) == -1){
                if(tag == 0){
                  img.className += " "+CientoOchentaGrados
                }
                else if (tag == 1) {
                  instance.imgClass.mystyle180 = true
                }
              }
            }
          }else{
            if(arr.indexOf(CeroGrados) == -1){
              if(tag == 0){
                img.className += " "+CeroGrados
              }
              else if (tag == 1) {
                instance.imgClass.mystyle0 = true
              }
            }
          }
        });
      }
    },
    card () {
      if(this.Orientation == 1){
        this.imgClass.mystyle0 = true
      }else if(this.Orientation == 3){
        this.imgClass.mystyle180 = true
      }else if(this.Orientation == 6){
        this.imgClass.mystyle90 = true
      }
    },
    applyOrientation (img) {
      var exifdata = img.exifdata
      this.Orientation = exifdata.Orientation
      this.imgClass.mystyle90 = false
      this.imgClass.mystyle180 = false
      this.imgClass.mystyle0 = false
      this.imagen = img.src
    },
    regresar () {
      this.$router.push({name: 'VendedorEspacio', params: {id:1}})
    }
  }

}
</script>
<style scoped>

</style>
