<template>
    <div>
      <Logo nav="cliente"/>
        <div class="container margin-container">
          <h2>Agregar espacios a {{relacion.name}}</h2>
          <form class="form-wrapper">
        <div class="form-row mt-5">
          <div class="col-12 col-md-2">
              <label class="my-6">Buscar por kilometros:</label>
              <input v-model="search.radius"  type="number" class="form-control" min="1" max="9999">
          </div>
          <div class="col-12 col-md-4">
              <label class="my-6">Buscar:</label>
              <input v-model="search.codigo_postal"  type="text" class="form-control">
          </div>
          <div class="col-12 col-md-3">
              <label class="my-6">Buscar por giro:</label>
              <select v-model="search.giro" class="form-control">
                <option value="0"></option>
                <option v-for="option_giros in giros" v-bind:value="option_giros.pk" v-bind:key="option_giros.pk">{{option_giros.designacion}}</option>
              </select>
          </div>
          <div class="col-12 col-md-3">
              <label class="my-6">Buscar por tipo:</label>
              <select v-model="search.tipo" class="form-control">
                <option value="0"></option>
                <option v-for="option_tipo in ooo_tipo" v-bind:value="option_tipo.tipo" v-bind:key="option_tipo.tipo">{{option_tipo.tipo}}</option>
              </select>
          </div>
        </div>
        <div class="row justify-content-center mt-5">
          <!-- <div class="alert alert-danger col-md-6" v-show="validate_lenght">
            Tienes que poner el <strong> pin </strong> por que no tiene geo localida tu campaña
          </div> -->
          <div class="w-100"></div>
          <h2 v-if="locales_count > 0">Resultados</h2>
          <h2 v-else-if="espacios_count > 0">Resultados</h2>
          <h2 v-else-if="institucionales_count > 0">Resultados</h2>
          <div class="w-100"></div>
          <div class="col-md-6" v-if="locales_count > 0">
            <h4><b><span class="badge badge-dark">{{locales_count}}</span> Locales </b><a href="#" v-on:click="resultadoLocales()" class="text-danger">Ir a la tabla <i class="far fa-arrow-alt-circle-right"></i></a></h4>
          </div>
          <div class="w-100"></div>
          <div class="col-md-6" v-if="espacios_count > 0">
            <h4><b><span class="badge badge-dark">{{espacios_count}}</span >Espacios </b><a href="#" v-on:click="resultadoEspacios()" class="text-danger">Ir a la tabla <i class="far fa-arrow-alt-circle-right"></i></a></h4>
          </div>
          <div class="w-100"></div>
          <div class="col-md-6" v-if="institucionales_count > 0">
            <h4><b><span class="badge badge-dark">{{institucionales_count}}</span> Espacios ooh </b><a href="#" v-on:click="resultadoInstitucionales()" class="text-danger">Ir a la tabla <i class="far fa-arrow-alt-circle-right"></i></a></h4>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class=" col-12 col-md-3 mt-5">
            <button @click.prevent="searchEspacios" class="button">Filtrar</button>
          </div>
          <div class="col-12 col-md-3 mt-5">
            <button @click.prevent="regresar" class="button">Regresar</button>
          </div>
          <div class="col-12 col-md-3 mt-5">
            <button @click.prevent="agregar_por_pk" class="buttonadd">Agregar con pk</button>
          </div>
        </div>
      </form>
        <div class="row mt-5">
          <div class="col-sm-12">
            <!-- <div class="col-6 mb-3">
              <label>Coordenadas:</label>
              <input type="text" class="form-control" @change='coordenda_api' v-model="coordenda">
            </div> -->
            <div id="map"></div>
          </div>
          <div class="col-sm-4 mt-5" v-show="show">
            <img id="img" @load="card($event)" v-bind:class="imgClass" v-bind:src="imagen" width="100%" height="300">
          </div>
          <div class="col-sm-3 mt-5" v-show="show">
            <div style="width: 100%; height:300px">
                <div class="row">
                    <b>Pk:</b> {{card_datos.pk}}<br>
                    <div v-if="card_datos.nombre" class="ml-3">
                      <span> <b>Nombre:</b> {{card_datos.nombre}} </span>
                    </div>
                    <div v-else class="ml-3">
                      <span> <b>Tipo:</b> {{card_datos.tipo}} </span>
                    </div>
                    <button @click.prevent="detalles" class="button mt-5">Detalles</button>
                </div>
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-sm-6">
            <!-- <p><img src="http://maps.google.com/mapfiles/ms/icons/red-dot.png" alt="">Filtrador</p> -->
            <p><img src="https://img.icons8.com/ios/30/FF5733/marker-filled.png" alt="Filtrador">Filtrador</p>
            <p><img src="http://maps.google.com/mapfiles/ms/icons/blue-dot.png" alt="">Coordenada de la campaña</p>
            <p><img src="http://maps.google.com/mapfiles/ms/micons/orange-dot.png" alt=""> Locales</p>
            <p><img src="http://maps.google.com/mapfiles/ms/micons/purple-dot.png" alt="">Espacios ooh</p>
            <p><img src="https://img.icons8.com/ios/30/FFAC33/map-pin-filled.png" alt="Agregados">Local agregado</p>
            <p><img src="https://img.icons8.com/ios/30/442390/map-pin-filled.png" alt="Agregados">Espacios ooh agregado</p>
          </div>
        </div>
        <Detalles v-bind:data="modalConfig"></Detalles>
        <ModalAdd v-bind:data="ModalAddConfig"></ModalAdd>
    </div>
  </div>
</template>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDAmvouc8wiOPjIXp_CdOLlJvtYTL6RwTo"></script>
<script>

import Logo from '@/components/Logo'
import Paginator from '@/components/Paginator'
import PaginatorLocal from '@/components/PaginatorLocal'
import PaginatorInstitucional from '@/components/PaginatorInstitucional'
import Detalles from '@/components/Detalles'
import ModalAdd from '@/components/ModalAdd'

import { mapState } from 'vuex'

export default {
  name: 'VendedorEspacio',
  components: {
    Logo,
    Paginator,
    PaginatorLocal,
    PaginatorInstitucional,
    Detalles,
    ModalAdd
  },
  computed: {
    ...mapState({
      tipos: state => state.data_tipos,
      giros: state => state.data_giros,
      ooo_tipo: state => state.data_oootipo,
      relacion: state => state.currentRelacion,
      espacios: state => state.data_espacios.results,
      espacios_count: state => state.data_espacios.count,
      locales: state => state.data_locales.results,
      locales_count: state => state.data_locales.count,
      institucionales: state => state.data_institucionales.results,
      institucionales_count: state => state.data_institucionales.count,
      geo_localidad_data: state => state.data_geo_localidad,
      geo_localidad_input: state => state.geo_localidad_input,
      geo_localidad_initmap: state => state.prueba_initmap,
      lista_inventario: state => state.relacion_inventarios,
    })
  },
  async mounted () {
    if (this.$route.params.id > 0) {
      try {
        this.search.geo_localidad[0] = this.geo_localidad_data[0]
        this.search.geo_localidad[1] = this.geo_localidad_data[1]
      } catch (error) {
        this.search.geo_localidad[0] = 19.4023839
        this.search.geo_localidad[1] = -99.1466904
      }
      await this.initmap()
      await this.initCordenadaClickMap()
      await this.verificarCheckmap()
      if (this.relacion.data.geo_localidad.latitud){
        this.geo[0] = this.relacion.data.geo_localidad.latitud
        this.geo[1] = this.relacion.data.geo_localidad.longitud
        await this.initCordenadaCampanaMap()
      }
    } else {
      await this.$store.commit('RESET_TABLE')
      this.search.geo_localidad[0] = 19.4023839
      this.search.geo_localidad[1] = -99.1466904
      await this.initmap()
      await this.initCordenadaClickMap()
      if (this.relacion.data.geo_localidad.latitud){
        this.geo[0] = this.relacion.data.geo_localidad.latitud
        this.geo[1] = this.relacion.data.geo_localidad.longitud
        await this.initCordenadaCampanaMap()
      }
    }
  },
  data () {
    return {
      markersEspacios: [],
      markersLocales: [],
      markersInstitucionales: [],
      validate_pin_km: 0,
      validate_lenght: false,
      show: false,
      imgClass:{
        'card-img-top': true,
        'img-fluid': false,
        'mystyle90': false,
        'mystyle180': false,
        'mystyle0': false,
      },
      geo_localidad_point: {
        'lat': 0,
        'log': 0
      },
      coordenda: '',
      geo: [],
      search: {
        'pk': '',
        'tipo': 0,
        'giro': 0,
        'material': 0,
        'direccion': '',
        'radius': '',
        'codigo_postal': '',
        'geo_localidad': []
      },
      card_datos: {
        'pk': 0,
        'nombre': '',
        'tipo': ''
      },
      imagen: '',
      // data_target: false,
      modalConfig: {
        visible: false,
        // type: notify || confirm
        type: "confirm",
        confirmText: "Confirmar",
        cancelText: "Cancelar",
        data_target: false,
        type_target: ''
      },
      ModalAddConfig: {
        visible: false,
        data_delete: false
      }
    }
  },
  methods: {
    verificarCheckmap () {
      if(this.espacios_count > 0) {
        if (this.locales_count > 0) {
          this.map_locales()
          if (this.institucionales_count > 0) {
            this.map_institucionales()
          }
        } else {
          if (this.institucionales_count > 0) {
            this.map_institucionales()
          }
        }
      } else {
        if (this.locales_count > 0) {
          this.map_locales()
          if (this.institucionales_count > 0) {
            this.map_institucionales()
          }
        } else {
          if (this.institucionales_count > 0) {
            this.map_institucionales()
          }
        }
      }
    },
    async searchEspacios () {
      await this.$store.commit('RESET_POIN')
      var search = '?'
      const ObjC = Object.getOwnPropertyNames(this.relacion.data.geo_localidad)
      if (!this.search.radius > 0 && !this.search.codigo_postal  > 0 && !this.search.giro > 0 && !this.search.tipo > 0) {
        if (ObjC.length > 1) {
          search = search + '&geo_localidad=' + [this.geo[0], this.geo[1]]
        }
        await this.$store.commit('GEO_LOCALIDAD', this.search.geo_localidad)
        await this.$store.commit('RESET_TABLE')
        await this.$store.dispatch('get_relacion_inventarios', this.relacion.pk)
        await this.$store.dispatch('searchLocales', search)
        await this.$store.dispatch('searchInstitucionales', search)
        this.initmap ()
        this.initCordenadaClickMap()
        if (ObjC.length > 1) {
          this.initCordenadaCampanaMap()
        }
        this.map_locales()
        this.map_institucionales()
      } else {
        if (this.search.giro > 0) {
          search = search + '&giro=' + this.search.giro
        }
        if (this.search.tipo.length > 0) {
          search = search + '&ooh_tipo=' +  this.search.tipo
        }
        if (this.search.codigo_postal.length > 0) {
          search = search + '&direccion=' + this.search.codigo_postal
          await this.$store.dispatch('search_point', this.search.codigo_postal)
          this.geo_localidad_point.lat = this.geo_localidad_initmap.latitud
          this.geo_localidad_point.log = this.geo_localidad_initmap.longitud
        }
        if (ObjC.length > 1) {
          search = search + '&geo_localidad=' + [this.geo[0], this.geo[1]]
        }
        if (this.search.radius.length > 0) {
          search = search + '&radius=' + this.search.radius
          if(ObjC.length <= 1) {
            if(!this.geo_localidad_data[0]) {
              this.validate_pin_km = 1
              this.validate_lenght = true
              // return false
            } else {
              this.validate_lenght = false
              search = search + '&geo_localidad=' + [this.geo_localidad_data[0], this.geo_localidad_data[1]]
              this.validate_pin_km = 0
            }
          }
        }
        await this.$store.commit('RESET_TABLE')
        await this.$store.dispatch('get_relacion_inventarios', this.relacion.pk)
        if (!parseInt(this.search.giro)){
          await this.$store.dispatch('searchInstitucionales', search)
        }
        if (!this.search.tipo.length) {
          await this.$store.dispatch('searchLocales', search)
        }
        this.initmap ()
        this.initCordenadaClickMap()
        if (ObjC.length > 1) {
          this.initCordenadaCampanaMap()
        }
        if (this.locales_count > 0) {
          this.map_locales()
        }
        if (this.institucionales_count > 0) {
          this.map_institucionales()
        }
      }
    },
    async coordenda_api () {
      var search_geo = '?&direccion=' + this.coordenda
      await this.$store.dispatch('searchGeolocalidad', search_geo)
      this.search.geo_localidad[0] = this.geo_localidad_input.latitud
      this.search.geo_localidad[1] = this.geo_localidad_input.longitud
      var buscar_coordenada = '?&geo_localidad=' + this.search.geo_localidad
      await this.$store.commit('RESET_TABLE')
      await this.$store.dispatch('get_relacion_inventarios', this.relacion.pk)
      await this.$store.dispatch('searchLocales', buscar_coordenada)
      await this.$store.dispatch('searchInstitucionales', buscar_coordenada)
      await this.initmap()
      await this.initCordenadaClickMap()
      if (this.relacion.data.geo_localidad.latitud){
        this.geo[0] = this.relacion.data.geo_localidad.latitud
        this.geo[1] = this.relacion.data.geo_localidad.longitud
        await this.initCordenadaCampanaMap()
      }
      this.map_locales()
      this.map_institucionales()
      return false
    },
    async resultadoLocales () {
      if(!this.geo_localidad_data[0]) {
        let gl = []
        gl[0] = 19.4023839
        gl[1] = -99.1466904
        await this.$store.commit('GEO_LOCALIDAD', gl)
      }
      this.$router.push({name: 'tablaLocales'})
    },
    resultadoEspacios () {
      this.$router.push({name: 'TablaEspacios'})
    },
    async resultadoInstitucionales () {
      if(!this.geo_localidad_data[0]){
        let gl = []
        gl[0] = 19.4023839
        gl[1] = -99.1466904
        await this.$store.commit('GEO_LOCALIDAD', gl)
      }
      this.$router.push({name: 'tablaEspaciosInstitucionale'})
    },
    detalles () {
      this.modalConfig.visible = true
    },
    regresar () {
       this.$router.push({name: 'TablaSucursales'})
    },
    agregar_por_pk () {
      this.ModalAddConfig.visible = true
    },
    initCordenadaCampanaMap () {
      var uluru = {lat: Number(this.geo[0]), lng: Number(this.geo[1])}
      var marker = new google.maps.Marker({
        icon: 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png',
        position: uluru,
        draggable: false,
        map: this.map
      })
    },
    initCordenadaClickMap () {
      var latitud = this.search.geo_localidad[0]
      var longitud = this.search.geo_localidad[1]
      var uluru = {lat: Number(latitud), lng: Number(longitud)}
      this.marker = new google.maps.Marker({
        // icon: 'http://maps.google.com/mapfiles/ms/icons/red-dot.png',
        icon: 'https://img.icons8.com/ios/30/FF5733/marker-filled.png',
        position: uluru,
        draggable: false,
        map: this.map
      })
      var instance = this
      google.maps.event.addListener(instance.map, 'click', async function(marker){
        await instance.$store.commit('RESET_POIN')
        instance.search.geo_localidad[0] = marker.latLng.lat()
        instance.search.geo_localidad[1] = marker.latLng.lng()
        var search = '?&geo_localidad=' + instance.search.geo_localidad
        await instance.$store.commit('GEO_LOCALIDAD', instance.search.geo_localidad)
        var json_geo = {
          'latitud': instance.search.geo_localidad[0],
          'longitud': instance.search.geo_localidad[1]
        }
        await instance.$store.commit('RESPONSE_POIN', json_geo)
        instance.geo_localidad_point.lat = instance.geo_localidad_initmap.latitud
        instance.geo_localidad_point.log = instance.geo_localidad_initmap.longitud
        if(instance.validate_pin_km === 0) {
          await instance.$store.commit('RESET_TABLE')
          await instance.$store.dispatch('get_relacion_inventarios', instance.relacion.pk)
          await instance.$store.dispatch('searchLocales', search)
          await instance.$store.dispatch('searchInstitucionales', search)
          instance.initmap()
          instance.initCordenadaClickMap()
          const ObjC = Object.getOwnPropertyNames(instance.relacion.data.geo_localidad)
          if (ObjC.length > 1) {
            instance.initCordenadaCampanaMap()
          }
          instance.map_locales()
          instance.map_institucionales()
          return false
        }
      })
    },
    initmap () {
      var latitud
      var longitud
      var zoom_valor
      if (!this.geo_localidad_point.lat) {
        if (this.relacion.data.geo_localidad.latitud) {
          latitud = this.relacion.data.geo_localidad.latitud
          longitud = this.relacion.data.geo_localidad.longitud
          zoom_valor = 12
        } else {
          latitud = this.search.geo_localidad[0]
          longitud =  this.search.geo_localidad[1]
          zoom_valor = 12
        }
      } else {
        latitud = this.geo_localidad_point.lat
        longitud = this.geo_localidad_point.log
        zoom_valor = 14
      }
      var uluru = {lat: Number(latitud), lng: Number(longitud)}
      this.map = new google.maps.Map(document.getElementById('map'), {
        center: uluru,
        zoom: zoom_valor
      })
    },
    map_espacios () {
      let icon_espacio = 'http://maps.google.com/mapfiles/ms/icons/green-dot.png'
      for (var n = 0; n < this.espacios.length; n++){
        this.map_marker(n, icon_espacio)
      }
    },
    map_marker (n, icon) {
      var point = this.espacios[n]
      if (!point) {
        return false
      }
      var instance = this
      var uluru = {lat: Number(point.geo_localidad.latitud), lng: Number(point.geo_localidad.longitud)}
      var marker = new google.maps.Marker({
        icon: icon,
        position: uluru,
        draggable: false,
        map: this.map
      })
      this.markersEspacios.push(marker)
      marker.addListener('click', clickedImageEspacio)

      function clickedImageEspacio () {
        instance.stopMarkerAnimationE()
        instance.modalConfig.data_target = point
        instance.modalConfig.type_target = 'E'
        instance.card_datos.pk = point.pk
        instance.card_datos.nombre = point.nombre
        instance.imagen = point.foto
        instance.show = true
        instance.startMarkerAnimation(marker)
      }
    },
    map_locales () {
      let icon_local = 'http://maps.google.com/mapfiles/ms/micons/orange-dot.png'
      let icon_existe = 'https://img.icons8.com/ios/30/FFAC33/map-pin-filled.png'
      for (var n = 0; n < this.locales.length; n++) {
        const check = this.lista_inventario.find(pk => pk.data.pk_relacion === this.locales[n].pk)
        if (!check) {
          this.map_markerLocal (n, icon_local)
        } else {
          this.map_markerLocal (n, icon_existe)
        }
      }
    },
    map_markerLocal (n, icon) {
      var point = this.locales[n]
      if (!point) {
        return false
      }
      var instance = this
      var uluru = {lat: Number(point.geo_localidad.latitud), lng: Number(point.geo_localidad.longitud)}
      var marker = new google.maps.Marker({
        icon: icon,
        position: uluru,
        draggable: false,
        map: this.map
      })
      this.markersLocales.push(marker)
      marker.addListener('click', clickedImageLocal)

      function clickedImageLocal () {
        instance.stopMarkerAnimationL()
        instance.card_datos.pk = point.pk
        instance.modalConfig.data_target = point
        instance.modalConfig.type_target = 'L'
        if (point.foto) {
          instance.imagen = point.foto.src
        } else {
          instance.imagen = null
        }
        instance.card_datos.nombre = point.nombre_comercial
        instance.show = true
        instance.startMarkerAnimation(marker)
      }
    },
    map_institucionales () {
      var icon_institucional = 'http://maps.google.com/mapfiles/ms/micons/purple-dot.png'
      let icon_existe = 'https://img.icons8.com/ios/30/442390/map-pin-filled.png'
      for (var n = 0; n < this.institucionales.length; n++) {
        const check = this.lista_inventario.find(pk => pk.data.pk_relacion === this.institucionales[n].pk)
        if (!check) {
          this.map_markerInstitucional(n, icon_institucional)
        } else {
          this.map_markerInstitucional(n, icon_existe)
        }
        // this.map_markerInstitucional( n, icon_institucional)
      }
    },
    map_markerInstitucional (n, icon) {
      var point = this.institucionales[n]
      if (!point) {
        return false
      }
      var instance = this
      var uluru = {lat: Number(point.geo_localidad.latitud), lng: Number(point.geo_localidad.longitud)}
      var marker = new google.maps.Marker({
        icon: icon,
        position: uluru,
        draggable: false,
        map: this.map
      })
      this.markersInstitucionales.push(marker)
      marker.addListener('click', clickedImageInstitucionales)

      function clickedImageInstitucionales () {
        instance.stopMarkerAnimationI()
        instance.card_datos.pk = point.pk
        instance.modalConfig.data_target = point
        instance.modalConfig.type_target = 'I'
        if (point.data.foto[0]) {
          instance.imagen = point.data.foto[0]
        } else {
          instance.imagen = null
        }
        instance.card_datos.nombre = ''
        instance.card_datos.tipo = point.data.tipo
        instance.show = true
        instance.startMarkerAnimation(marker)
      }
    },
    stopMarkerAnimationE () {
      var markers = this.markersEspacios
      for(var i = 0; i < markers.length; i++){
        markers[i].setAnimation(null)
      }

      return true
    },
    stopMarkerAnimationL () {
      var markers = this.markersLocales
      for(var i = 0; i < markers.length; i++){
        markers[i].setAnimation(null)
      }
      return true
    },
    stopMarkerAnimationI () {
      var markers = this.markersInstitucionales
      for(var i = 0; i < markers.length; i++){
        markers[i].setAnimation(null)
      }
      return true
    },
    startMarkerAnimation (marker) {
      if (marker.getAnimation() !== null) {
        marker.setAnimation(null)
      } else {
        marker.setAnimation(google.maps.Animation.BOUNCE);
      }

      return true
    },
    card ($event) {
      var imagen = $event.target
      imagen.exifdata = null

      this.set_rotation(imagen)
    },
    set_rotation(img){
      var instance = this

      getExif(img)

      function getExif(img) {

        var CeroGrados = "mystyle0"
        var NoventaGrados = "mystyle90"
        var CientoOchentaGrados ="mystyle180"

        EXIF.getData(img, function (){
          var Orientation = EXIF.getTag(this, "Orientation")
          var arr = img.className.split(" ")
          if (Orientation) {
            if (Orientation === 6) {
              if (arr.indexOf(NoventaGrados) === -1) {
                instance.imgClass.mystyle90 = true
                instance.imgClass.mystyle0 = false
                instance.imgClass.mystyle180 = false
              }
            } else if (Orientation === 3) {
              if (arr.indexOf(CientoOchentaGrados) === -1) {
                instance.imgClass.mystyle90 = false
                instance.imgClass.mystyle0 = false
                instance.imgClass.mystyle180 = true
              }
            } else {
              if (arr.indexOf(CeroGrados) === -1) {
                instance.imgClass.mystyle90 = false
                instance.imgClass.mystyle0 = true
                instance.imgClass.mystyle180 = false
              }
            }
          } else {
            if (arr.indexOf(CeroGrados) == -1) {
              instance.imgClass.mystyle90 = false
              instance.imgClass.mystyle0 = true
              instance.imgClass.mystyle180 = false
            }
          }
        })
      }
    }
  }

}
</script>
<style scoped>

</style>
